.Header {
    text-transform: uppercase;
    width: 75%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.company_name h3 {
    color: #FE3B1F;
    font-size: 1.5rem;
    font-weight: 900;
}

.page_numbering {
    font-size: 1.5rem;
}

hr {
    margin-top: -15px;
    border: 1px solid #141414;
    align-items: center;
}